.contianer--divider{
    margin: 0;
}

.delimitation--background{
    height: 25px;
    background-image: url(https://firebasestorage.googleapis.com/v0/b/wakkamole-61f7d.appspot.com/o/gdl-assets%2Fdiv.svg?alt=media&token=4f6eefae-71e4-42d7-9077-9529c0004521);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

