.contianer--divider{
    margin: 0;
}

.delimitation--background{
    height: 25px;
    background-image: url('https://firebasestorage.googleapis.com/v0/b/gdl-9ecdf.appspot.com/o/assets%2Fdiv.svg?alt=media&token=2d1c6f2e-17e6-43a8-8126-2640a241bfb8');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

