.projectsdone__container{
    text-align: center;
    background-image: url(https://firebasestorage.googleapis.com/v0/b/wakkamole-61f7d.appspot.com/o/gdl-assets%2Fbackground-black.svg?alt=media&token=93b76df5-178e-4a7f-9822-6620bed1daaf);
    background-size:cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: auto;
}

.projectsdone__container h2{
    color: white;
    margin: 0;
}