.request-container{
    background-color: #FF5620;
    width: 100vw;
    min-height: 100vh;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.request--title__hero{
    
    width: 100vw;
}

.request-container__title{
    border-bottom: 5px solid white;
    
    justify-content: flex-end;
    display: flex;
    
    margin-left: 50px;
}

.title--main{
    font-weight: 300;
    color: white;
    margin-right: auto;
    font-size: 70px;
}

.button-request__container{
    padding-left: 50px;
    padding-bottom: 100px;

}


@media screen and (max-width:860px) {
    .title--main {
        font-size: 60px;
    }   
}

@media screen and (max-width:460px) {
    .title--main{
        font-size: 26px;
    }   
}