body {
    background-color: #EBE2D1;
}

.result-container{
    display: flex;
    height: 100vh;
    justify-content: center;
    flex-direction: column;
}

h1{
    font-weight: 300;
    font-size: 83px;
}
.title-hide{
  display: none;
}

.result-container-main{
    display: flex;
    align-items: center;
    align-content: center;
    /* height: 100%; */
    /* width: 80%; */
    width: 100%;
    margin: 0 auto;
    justify-content: space-around;
}

.result-container-title{
    display: inline-block;
}

.result-container-video{
    display: inline-block;
    width: 50%;
}

.scroll-title{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

  .c-scrolldown {
    width: 1px;
    height: 60px;
    // position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    margin: 0 auto;
    overflow: hidden;
  }
  .c-scrolldown .c-line {
    width: 100%;
    height: 100%;
    display: block;
    background: linear-gradient(to bottom, black 50%, rgba(255, 255, 255, 0) 50%);
    background-position: 0 -60px;
    background-size: 100% 200%;
    animation: scrolldown 2.2s cubic-bezier(0.76, 0, 0.3, 1) forwards infinite;
  }
  
  @keyframes scrolldown {
    0% {
      background-position: 0 -60px;
    }
    75% {
      background-position: 0 0;
    }
    100% {
      background-position: 0 60px;
    }
  }
  

  @media screen and (max-width: 700px){
    h1{
      display: none;
  }
  .title-hide{
    display: block ;
  }
  .result-container-main{
    flex-direction: column;
  }
  .result-container-video{
    width: 100%;
  }

}