.sala--item{
    margin-bottom: 30px;
}
.card--itemCC{
    width: 500px;
    height: auto;
    background-image: url('https://firebasestorage.googleapis.com/v0/b/wakkamole-61f7d.appspot.com/o/gdl-assets%2Fsalas%2FSala-de-correccion-de-color.png?alt=media&token=98d6545f-2738-43c4-a655-75952818c214');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    margin: 00px 0px 10px 0px;
    overflow: hidden;
    display: inline-block;
    cursor: pointer;
    transition: 450ms all;
    transform-origin: center left;
    position: relative;
    border-radius: .2rem;
}
.title--sala{
    text-align: initial;
    margin-top: 0;
    font-weight: 400;
    color: #223354;
    border-left: 2px solid #00000061;
    padding-bottom: 10px;
    border-bottom: 2px solid #00000061;
    padding-left: 10px;
}

@media screen and (max-width:500px) {
    .sala--item {
        width: 80%;
    }   

    .card--itemSC{
    width: 100%;
    }
}

