

.Salas-container{
    background-image: url(https://firebasestorage.googleapis.com/v0/b/wakkamole-61f7d.appspot.com/o/gdl-assets%2Fbackgroundblack%403x.png?alt=media&token=9f784e7a-ccdf-4f39-b2d7-d30c7e2ebebd);
    background-size:cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
}

h2{
    color: white;
    
}

