.services--container{
    background-image: url(https://firebasestorage.googleapis.com/v0/b/wakkamole-61f7d.appspot.com/o/gdl-assets%2Fbackgroundwhite.svg?alt=media&token=cf1c2062-426e-43ec-85e4-c508bd5e0bf4);
    background-size:cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: auto;
    min-height: 100vh;
    color: black;
    display: flex;
    flex-direction: column;
}

.services--container__title{
    width: 100%;
    margin-top: 50px;
    display: inline-block;
    
}

.title--services{
    font-size: 83px;
    font-weight: 300;
}

.services--cards--container{
    display: flex;
    align-self: center;
    flex-wrap: wrap;
    justify-content: center;
}

.services--container h1{
    margin: 0;
    text-align: center;
    width: 100%;
    margin-bottom: 50px;
}

.cards--item img{
    width: 450px;
    margin-bottom: 50px;
}
.services--cards__subtitle{
    margin: 0 300px 80px;
    display: flex;
    flex-direction: column;
}
.cards__subtitle--item{
    color: black;
    background-color: #EEEDEA;
    font-size: 50px;
    font-weight: 300;
    
}

@media screen and (max-width:1200px){
    .services--cards__subtitle{
        margin: 0 50px 50px;
    }
}

@media screen and (max-width:450px) {
    .services--container h1{
        font-size: 40px;
        margin-bottom: 50px;
    }
    .cards--item img{
        width: 100vw
    }
    .services--cards__subtitle{
        margin: 0 15px 50px;
        
    }
    .cards__subtitle--item{
        font-size: 28px;
    }    
}