// Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600&family=Roboto:wght@300;400&display=swap');

// Font Variables
$theme-font: 'Playfair Display', serif;
$secundary-font: 'Roboto', sans-serif;
// Color Variables
$main-color: #8f57fd;